apiVersion: 1

datasources:
  - name: Cloud Monitoring
    type: stackdriver
    access: proxy
    jsonData:
      authenticationType: gce
      defaultProject: __PROJECT_ID__
    isDefault: true
    editable: false
