# Configuration Airflow

[core]
dags_folder = /opt/airflow/dags
base_log_folder = /opt/airflow/logs
executor = LocalExecutor
load_examples = False
max_active_runs_per_dag = 1

[scheduler]
dag_dir_list_interval = 30
catchup_by_default = False

[webserver]
web_server_port = 8080
expose_config = True

[database]
sql_alchemy_conn = sqlite:////opt/airflow/airflow.db

[logging]
logging_level = INFO
